// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  // Insert your own theme rules here
  .bicycles-main {
      background-image: url("images/bg5.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-position: left top;
  }
  .navbar {
      height: 100px;
      color: white;
  }
  .login-panel, .register-panel, .auction-form-panel {
      background: rgba(0,0,0, 0.6);
      color: white;
      margin-top: 80px;
      .v-panel-caption {
        background: rgba(255,255,255,0.15); 
        color: #99d6ff;
        font-size: 20px;
        text-align: center;
        border: none;
        height: 0;
        margin-top: 15px;
        margin-bottom: 20px;
      }
  }
  .v-slot-user-label {
      margin-top: -12px;
      .user-label, .v-caption-user-label {
          color: white;
          font-size: 18px;
          text-shadow: 1px 1px grey;
      }
      .user-label {
          font-size: 20px;
      }
  }
  
  .v-button {
      background: rgba(0,0,0,0.2);
      border: 1px solid white;
      border-radius: 8px;
      color: white;
      &:hover {
          background: rgba(255,255,255,0.3);
      }
      &:active {
          background: white;
          color: black;
      }
  }
  .v-Notification, .auction-form {
      background: rgba(0,0,0,0.6);
      border: 1px solid rgba(255,255,255,0.6);
      color: white;
      .v-Notification-caption {
          color: #99d6ff;
      }
  }
  .auction-form {
      .auction-form-panel {
          margin-top: 0;
          background: none;
          color: white;
          border: none;
      }
      .v-window-header, .v-window-maximizebox, .v-window-closebox, .v-window-restorebox {
          //color: #99d6ff;
          display: none
      }
      .v-datefield {
          width: 185px;
      }
  }
  .new-auction-window-button {
      background: rgba(153, 214, 255, 0.6);
  }
  img.v-image {
      width: 200px !important;
  }
  .v-table, .v-table-header-wrap {
      background: rgba(0,0,0,0.8);
      .cell-wrapper {
          color: black;
      }
      .v-table-header-cell {
          color: white;
      }
  }
  
}
